spring:
  application:
    name: discovery-service

---
eureka:
  instance:
    hostname: guidance-discovery-service.herokuapp.com
    nonSecurePort: 80
  client:
    serviceUrl:
      defaultZone: https://guidance-discovery-service.herokuapp.com/eureka/
spring:
  config:
    activate:
      on-profile: heroku-discovery1
---
eureka:
  instance:
    hostname: guidance-discovery-service2.herokuapp.com
    nonSecurePort: 80
  client:
    serviceUrl:
      defaultZone: https://guidance-discovery-service1.herokuapp.com/eureka/
spring:
  config:
    activate:
      on-profile: heroku-discovery2